@model IEnumerable<DoAnCoSo.Models.BACSI>

@{
    ViewBag.Title = "Chọn bác sĩ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section class="consultans-area section-gap">
    <div class="container">
        @Html.Action("SelectSpecialist", "Booking")
    </div>
</section>


