
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<center>
    <div class="mt-5 pt-3">
        <h2 class="mb-5">Vui lòng thanh toán để hoàn thành quá trình đặt lịch</h2>
        @Html.ActionLink("Tiếp tục", "BookingSuccess")
        <br />
        <img src="~/Images/momo.jpg" />
    </div>
</center>

