
@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<iframe src="https://dashboard.tawk.to/" style="width:100%;height:500px"> </iframe>*@
<div>
    <textarea id="TextArea1" rows="2" cols="20"></textarea>
</div>